<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon4cc.mapper.FlowMapper">


    <resultMap id="BaseResultMap" type="com.mon4cc.entity.Flow">
        <id column="groupingId" property="groupingId" />
        <result column="sourceComponent" property="sourceComponent" />
        <result column="targetComponent" property="targetComponent" />
        <result column="groupingType" property="groupingType" />
        <result column="stream" property="stream" />
        <result column="topologyId" property="topologyId" />
    </resultMap>

    <insert id="insertGrouping" parameterType='Flow'>
        insert into flow (groupingId,sourceComponent,targetComponent,groupingType,stream,topologyId)
        values (#{groupingId},#{sourceComponent},#{targetComponent},#{groupingType},#{stream},#{topologyId})
    </insert>

    <select id="selectGrouping" resultType="Flow">
        select * from flow where groupingId = #{groupingId} and topologyId = #{topologyId}
    </select>

    <select id="selectGroupingId"  resultType="java.lang.String" >
        select groupingId from flow where targetComponent = #{targetComponent}
    </select>

    <update id="updateGrouping" parameterType="Flow">
        update flow set sourceComponent = #{sourceComponent},targetComponent = #{targetComponent},
        groupingType = #{groupingType},stream = #{stream}
        where groupingId = #{groupingId} and topologyId = #{topologyId}
    </update>

</mapper>
