<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mon4cc.mapper.TopologyconfigurationMapper">


    <resultMap id="BaseResultMap" type="com.mon4cc.entity.TopologyConfiguration">
        <id column="topologyId" property="topologyId" />
        <result column="topologyName" property="topologyName" />
        <result column="isLocal" property="isLocal" />
        <result column="topologyXml" property="topologyXml" />
        <result column="description" property="description" />
        <result column="state" property="state" />
        <result column="creater" property="creater" />
        <result column="createTime" property="createTime" />
        <result column="completeConfigurationCode" property="completeConfigurationCode" />
    </resultMap>
    <update id="addXml" parameterType="java.lang.String">
        update topologyconfiguration set topologyXml = #{modelXml}
        where topologyId = #{tid}
    </update>


    <select id="getXml" parameterType="java.lang.String" resultType="java.lang.String">
        select topologyXml from topologyconfiguration where topologyId=#{tid}
    </select>

    <select id="getTopologyName" parameterType="java.lang.String" resultType="java.lang.String">
        select topologyName from topologyconfiguration where topologyId=#{tid}
    </select>

    <select id="getIsLocal" parameterType="java.lang.String" resultType="java.lang.Boolean">
        select isLocal from topologyconfiguration where topologyId=#{topologyId}
    </select>

    <update id="updateConfigurationCodeIntoSpoutTable" >
        update topologyconfiguration set completeConfigurationCode = #{completeConfigurationCode}
        where topologyId=#{topologyId}
    </update>

</mapper>
